<div class="contents">
    <div class="tx-contents">
        <div class="content-container mobile-hide">
            <div class="info-block-container">
                <div class="info-block balance">

                    <div class="block-content">
                        <div class="information-container">
                            <h2>Address</h2>
                            <p>0x1EAa5c19BF4A0341867C61e7A4788864c7468b16</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-container mobile-hide">
            <div class="info-block-container">
                <div class="info-block balance">

                    <div class="block-content">
                        <div class="information-container">
                            <h2>Balance</h2>
                            <div class="balance-text-container">
                                <div class="balance-text">
                                    <p> 0 <span> ETH </span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="interface-container-title">
    <div class="title-block">Send Transaction</div>
</div>
<div class="send-form">
    <div class="form-block amount-to-address">
        <div class="amount">
            <div class="single-input-block">
                <div class="title">
                    <h4>Amount</h4>
                </div>
                <div class="the-form amount-number"><input placeholder="Amount" type="number" min="0" name="value" step="any"><i aria-hidden="true" class="not-good fa fa-check-circle good-button"></i></div>
            </div>
        </div>
        <div class="to-address">
            <div class="drop-down-address-selector">
                <div class="dropdown--title">
                    <h4>To Address</h4>
                </div>
                <div class="dropdown--content">
                    <div class="dropdown-input-box">
                        <div><input placeholder="Please enter the address" type="text" autocomplete="off"></div>
                        <div class="blockie-place-holder-image"></div>
                        <!---->
                        <div class="dropdown-open-button"><i aria-hidden="true" class="fa fa-chevron-down"></i>
                            <!---->
                        </div>
                    </div>
                    <!---->
                </div>
                <div class="addr-book-modal">
                    <!---->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="submit-button-container">
    <div class="submit-button large-round-button-green-filled"> Send Transaction </div>
</div>
</div>