<div id="app">
    <div class="home">
        <div class="top-banner">
            <div class="wrap">
                <div class="page-container">
                    <div class="flex-col-vertical-center banner">
                        <div class="banner-text">
                            <h1>Ethereum's</h1>
                            <h1>Original Wallet</h1>
                        </div>
                        <div class="banner-image"><img alt="" src="/img/spaceman.png"></div>
                    </div>
                    <div class="grid-col-2 promo-cards">
                        <a href="/create-wallet" class="nounderline">
                            <div class="card-block create-wallet">
                                <div class="card-image flex-col-1-1-vertical-center"><img alt="" src="/img/create-wallet.73282ac1.png"></div>
                                <div class="flex--column--space-between">
                                    <div class="title">
                                        <h3>Create A New Wallet</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="/access-my-wallet" class="nounderline">
                            <div class="card-block unlock-wallet">
                                <div class="card-image flex-col-1-1-vertical-center"><img alt="" src="/img/unlock-wallet.3f0ec389.png"></div>
                                <div class="flex--column--space-between">
                                    <div class="title">
                                        <h3>Access My Wallet</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>