<div class="flex-col-vertical-center banner">
    <div class="tab-content-block">

        <div class="title-block">
            <div class="title-popover">
                <h1 style="color:green">Login</h1>
            </div>
            <form class="user-input" action="/login" method="post">
                <!-- enctype="multipart/form-data" -->
                <div class="mew-custom-form mew-custom-form__password">
                    <div class="user-input-field">
                        <input type="password" name="password" autocomplete="off" class="strong" aria-required="true" aria-invalid="false" placeholder="password">
                        <input type="file" name="keystore" class=" large-round-button-green-filled next-button "> Keystore File
                    </div>
                </div>
                <input type="submit" class="large-round-button-green-filled next-button" value="Send"></input>
            </form>
        </div>
    </div>
</div>